.Project-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 2rem;
    height: 50rem;
    width: 30rem;
    margin: auto;
}